/*    Global    */

:root{
    /*Color de fondo principal*/
    --verydarkblue: hsl(233, 47%, 7%);
    /*Card Background*/
    --darksaturatedblue: hsl(244, 38%, 16%);
    /*Accent*/
    --softviolet: hsl(277, 64%, 61%);
    /*Main Heading. stats*/
    --white: hsl(0, 0%, 100%);
    /*Main Paragraph*/
    --slightlytransparentwhite: hsla(0, 0%, 100%, 0.75);
    /*Stat Headings*/
    --slightlytransparentwhite: hsla(0, 0%, 100%, 0.6);
}

body {
    background-color:var(--verydarkblue);
}

.wrapper {
    margin: 0 auto;
    width: 20%;
    min-width: 375px;
}


.container {
    border-radius: 10px;
    background-color:var(--darksaturatedblue);
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto;
}


.card__info__col {
    font-family: 'Lexend Deca', sans-serif;
    padding: 3em;
    text-align: center;
}

.card__info__title{
    color:var(--white);
}

.card__info__body {
    color: var(--slightlytransparentwhite);
    line-height: 2em;
    margin-bottom: 5em;
}


span {
    color: hsl(277, 64%, 61%);
}


.card__stats__numbers {
    color:var(--white);
    margin-bottom: 0;
}


.card__stats__heading {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
}


.card__img__col {
    background-color:hsl(277, 64%, 61%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    opacity: .5;
    width: 100%;
}



@media (min-width: 800px) {
    .wrapper {
        margin: 8em auto;
        width: 80%;
        max-width: 1440px;
    }

    .container {
        flex-direction: row;
        width: 100%;
    }

    .card__info__col {
        font-family: 'Lexend Deca', sans-serif;
        padding: 3em;
        text-align: left;
        width: 50%;
    }

    .card__info__title {
        width: 60%;
    }

    .card__info__body {
        width: 70%;
    }

    .card__stats__row {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .card__img__col {
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        width: 50%;
    }

    img {
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
    }

    .overlay {
        height: 100%;
    }
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}